.node_modal{
    .ant-modal {
        top: 25px;
    }
    .ant-modal-content {
        background-image: linear-gradient(rgba(53,85,131,0.2) 0%,rgba(255,255,255,1) 8%),url("../../assets/paper_gb.png");
        background-size: 100% 25px,10% 10%;
        padding-left: 24px;
    }
    .ant-modal-body {
        padding-top: 24px;
        padding-bottom: 24px;
        padding-right: 24px;
        padding-left: 0px;
        border-left: 2px solid rgba(161,76,70,.45);
    }
}

.node_form {
    height: 680px;
    .inner_form {
        height: 100%;
    }
    .inner_form {
        textarea{
            margin-top: 18px;
            margin-bottom: 10px;
            margin-left: 2px;
            height: 580px;
            background: transparent;
            border: none;
            font-size: 17px;
            font-family: monospace;
            resize: none;
        }
        input{
            background: transparent;
            border: none;
            font-weight: bold;
            font-family: monospace;
            font-size: 20px;
        }
    }
}

.note_container {
    margin-top: 20px;
    .note_cell {
        width: 300px;
        height: 150px;
        border: 1px solid rgb(217, 217, 217);
        padding-top: 10px;
        padding-left: 10px;
        display: inline-block;
        vertical-align: top;
        margin-right: 20px;
        margin-bottom: 20px;
        border-radius: 10px;
        background-image: linear-gradient(rgba(53,85,131,0.2) 0%,rgba(255,255,255,1) 8%),url("https://www.memonotepad.com/img/paperfibers.png");
        background-size: 100% 25px,10% 10%;
        font-size: 17px;
        background-position-y: 4px;
        overflow: hidden;
        cursor: pointer;

        .title{
            font-weight: bold;
        }
        .description{
            height: 96px;
            overflow: hidden;
        }
    }
    .empty_msg {
        margin-left: 48%;
    }
}

@media screen and (max-width: 600px) {
    .node_form{
        height: 500px;

        .inner_form .ant-input[name="description"]{
            height: 420px;
        }
    }

}