.main {
  padding: 20px 20px 50px;
  width: 100%;
  max-width: 900px;
  margin: auto;
  font-family: serif;
}
.main .hide{
  visibility: hidden;
  opacity: 0;
}
.main .white_font {
  color: #cacaca;
  font-size: 24px;
}
.main h1.white_font {
  color: #cacaca;
  font-size: 36px;
  font-weight: bolder;
}
.main h1.white_font a{
  font-size: 24px;
}
.main h2.white_font {
  color: #cacaca;
  font-size: 28px;
  font-weight: bolder;
}
.main hr.line {
  display: block;
  height: 1px;
  width: 50%;
  background-color: #484848;
  position: relative;
  border: 0;
  margin: .5em 0 1em;
}
.main ul.list {
  color: #cacaca;
  font-size: 24px;
  list-style: circle;
}
.main a.info_link {
  font-size: 24px;
}


@media screen and (max-width: 600px) {
  .main .white_font {
    font-size: 12px;
  }
  .main h1.white_font {
    font-size: 21px;
  }
  .main h1.white_font a{
    font-size: 12px;
  }
  .main h2.white_font {
    font-size: 16px;
  }
  .main ul.list {
    font-size: 12px;
  }
  .main a.info_link {
    font-size: 12px;
  }
}


body {
  background-color: #2a2a2a;
}

.main .slider {
  position: relative;
  max-width: 900px;
}

.main .slider .arrowLeft{
  /* width: 4%; */
  position: absolute;
  top: 45%;
  left: 5%;
  background-color: rgba(0,0,0,0.3);
  /* height: 10%; */
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.main .slider .arrowRight{
  /* width: 4%; */
  position: absolute;
  top: 45%;
  right: 5%;
  background-color: rgba(0,0,0,0.3);
  /* height: 10%; */
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
}

.main .ant-carousel{
  text-align: center;
  /* height: 550px;
  width: 900px; */
  margin: auto;
  background: #2a2a2a;
  overflow: hidden;
}

.main img{
  width: 100%;
}
